# FastAPI Configuration
API_HOST=0.0.0.0
API_PORT=8000
API_DEBUG=False

# Model Path
MODEL_PATH=models/taxi_demand.joblib

# CORS
CORS_ENABLED=True
CORS_ORIGINS=["http://localhost:3000", "http://127.0.0.1:3000"]
